*
{
	margin:0;
    padding: 0;

}

body 
{
	margin : 0;
	padding: 0;
  background-image: url("SSBbackground.jpg");
  background-size: cover;
  background-position: center;


}



.btn {
	border: 1px solid white;
	padding : 10px 30px;
	margin-left: 5px;
	margin-top: 5px;
	font-size: 13px ;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	display: inline-block;
	
}


.btn1,.btn2{
	color: #fff;

}

.btn1:hover,.btn2:hover{
	color: white ;
	border: 1px solid black;
	background-color: #8D6241 ;
	transition: all 0.5s ease-in;

}


p{
	
	width: 500px;
	margin: 20px;
	padding: 12px;
	color: white;
	border: 1px solid none;
	text-align: justify;
	word-wrap: break-word;
	max-height: 525px;
	overflow: auto;


}



h1{
	color: red;
	margin-left: 50px ;





}





